
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding : 0;
    margin : 0;
    outline : none;
    border : none;
    box-sizing : border-box;
}

img {
    width : 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family:  'poppins', sans-serif;
    background-color: #18181B;
}

nav {
    max-width: 1200px;
    margin : auto ;
    padding : 2rem , 1rem;
    display :flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style : none;
    display : flex;
    align-items: center;
    gap : 3rem;
}

.link a {
    position : relative;
    padding-bottom : 0.75rem;
    color: #fff;
}

.link a ::after {
    content : " ";
    position : absolute;
    height : 2px;
    width : 0;
    bottom : 0;
    left: 0;
    background-color: #c4242c;
    transition : all 0.3 ease;
}

.link a:hover::after {
    width:70%;
}

.btn {
    padding : 1rem 2rem ;
    font-size : 1rem;
    color : #fff;
    background-color:#9d1b20;
    border-radius: 5px;
    cursor : pointer;
    transition : all 0.3s ease;
}

.btn :hover {
    background-color: #c4242c;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding : 5rem 2rem;
}

.blur{
    position : absolute;
    box-shadow : 0 0 1000px 50px #a34146;
    z-index:-100; 
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color : #ccc;
    font-size: 1rem;
    font-weight : 600;
}

header .content h1 {
    color: #fff;
    margin-bottom:1rem ;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color:#ccc; 
}

header .image {
    position: relative;
}

header .image::before {
    content:"o";
    position : absolute;
    top: 0;
    left: 45%;
    transform: translatex(-50%);
    font-size: 45rem ;
    font-weight: 500;
    line-height :25rem;
    color: #b3393f;
    opacity:0.2;
    z-index : -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}